{% load static %}

<div class="container my-5 py-5 hlavniKontejner">
    <div class="row text-center">
        <div class="col-12 col-md-6 col-lg-3">
            <h5>Zákaznický servis</h5>
            <div class="row paticka mb-5 mb-lg-0">
              <div class="col-12"><a class="nav-link" href="#">Kontaktujte nás</a></div>
              <div class="col-12"><a class="nav-link" href="#">FAQ</a></div>
              <div class="col-12"><a class="nav-link" href="#">Reklamace</a></div>
              <div class="col-12"><a class="nav-link" href="#">Vrácení zboží</a></div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5>Platba a doprava</h5>
            <div class="row paticka mb-5 mb-lg-0">
              <div class="col-12"><a class="nav-link" href="#">Možnosti platby</a></div>
              <div class="col-12"><a class="nav-link" href="#">Doprava a ceny</a></div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5>O společnosti</h5>
            <div class="row paticka mb-5 mb-lg-0">
              <div class="col-12">Knihkupectví Kavka s.r.o.</div>
              <div class="col-12">IČO: 12345678</div>
              <div class="col-12">DIČ: CZ12345678</div>
              <div class="col-12">Ulice 123, 110 00 Praha</div>
              <div class="col-12"><a class="nav-link" href="#">Obchodní podmínky</a></div>
              <div class="col-12"><a class="nav-link" href="#">Ochrana osobních údajů</a></div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5>Sledujte nás</h5>
            <div class="row paticka mb-5 mb-lg-0">
              <div class="col-12"><a class="nav-link" href="#">Facebook</a></div>
              <div class="col-12"><a class="nav-link" href="#">Instagram</a></div>
            </div>
            <div class="row paticka mt-5">
              <div class="col-12">
                <form>
                  <label for="email"><h5>Odebírat novinky:</h5></label>
                  <input class="form-control me-2" type="email" id="email" placeholder="Váš e-mail">
                  <button class="btn btn-secondary mt-2" type="submit">Odeslat</button>
                </form>
              </div>
            </div>
        </div>
    </div>
    <div class="row text-center mt-5 mt-lg-0">
        <div class="col-12">
            Copyright © 2025, Josef Štrba, všechna práva vyhrazena.
        </div>
    </div>
    
</div>