{% load static %}

<div class="container my-5 py-5 hlavniKontejner">
    <div class="row">
        <div class="col-3">
            <h5>Zákaznický servis</h5>
            <ul class="paticka">
              <li><a class="nav-link" href="#">Kontaktujte nás</a></li>
              <li><a class="nav-link" href="#">FAQ</a></li>
              <li><a class="nav-link" href="#">Reklamace</a></li>
              <li><a class="nav-link" href="#">Vrácení zboží</a></li>
            </ul>
        </div>
        <div class="col-3">
            <h5>Platba a doprava</h5>
            <ul class="paticka">
              <li><a class="nav-link" href="#">Možnosti platby</a></li>
              <li><a class="nav-link" href="#">Doprava a ceny</a></li>
            </ul>
        </div>
        <div class="col-3">
            <h5>O společnosti</h5>
            <ul class="paticka">
              <li>Knižní svět s.r.o.</li>
              <li>IČO: 12345678</li>
              <li>DIČ: CZ12345678</li>
              <li>Ulice 123, 110 00 Praha</li>
              <li><a class="nav-link" href="#">Obchodní podmínky</a></li>
              <li><a class="nav-link" href="#">Ochrana osobních údajů</a></li>
            </ul>
        </div>
        <div class="col-3">
            <h5>Sledujte nás</h5>
            <ul class="paticka">
              <li><a class="nav-link" href="#">Facebook</a></li>
              <li><a class="nav-link" href="#">Instagram</a></li>
            </ul>
            <form>
              <label for="email">Odebírat novinky:</label>
              <input class="form-control me-2" type="email" id="email" placeholder="Váš e-mail">
              <button class="btn btn-secondary mt-1" type="submit">Odeslat</button>
            </form>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            Copyright © 2025, Josef Štrba, všechna práva vyhrazena.
        </div>
    </div>
    
</div>