{% extends 'base.html' %}
{% block content %}

<div class="container py-4">

    <div class="card mb-1 mx-auto vedlejsiKontejner" style="max-width: 60vw;">
        <div class="row g-0">
          <div class="col-md-4 p-2">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <div class="text-center">
                    <h3 class="fw-bolder my-lg-5 my-3">{{ product.name }}</h3>
                    <p class="cenaNapis my-lg-5">{{ product.price }} Kč</p>
                    <p class="autorNapis my-lg-5">{{ product.author }}</p>
                    <p class="autorNapis">{{ product.description }}</p>
                </div>
            </div>
          </div>
        </div>
      </div>

</div>

  {% endblock %}




