{% extends 'base.html' %}
{% block content %}

<div class="container py-4">

    <div class="card mb-1 mx-auto vedlejsiKontejner" style="max-width: 60vw;">
        <div class="row g-0">
          <div class="col-md-4 p-2">
            <img src="{{ product.image.url }}" class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <div class="text-center">
                    <h3 class="fw-bolder my-lg-5 my-3">{{ product.name }}</h3>
                    <p class="cenaNapis my-lg-5">{{ product.price }} Kč</p>
                    <p class="autorNapis my-lg-5">{{ product.author }}</p>
                    <p class="autorNapis">{{ product.description }}</p>
                </div>

            <div class="row g-0">
              <div class="col-3 offset-2">
                <select class="form-select" id="qty-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div class="col-7 d-flex justify-content-center">
                <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart" style="max-width: 50vw;">
                  Do košíku
                </button>
              </div>
            </div>
              
            </div>
          </div>
        </div>
      </div>

</div>

<script>

  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "cart_add" %}',
      data: {
        product_id: $('#add-cart').val(),
        product_qty: $('#qty-cart option:selected').text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      
      success: function(json){
        document.getElementById('cart_quantity')
          textContent = json.qty
        location.reload();
      },
      
      error: function(xhr, errmsg, err){
      
      }
  
    });
  })
  
  </script>

{% endblock %}