{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 col-md-7 col-lg-5 text-center hlavniKontejner p-3">
            <form method="POST" action="{% url 'update_info' %}">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-secondary">
                    Upravit
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}