{% extends 'base.html' %}
{% block content %}

<div class="container">
    {% if cart_products %}
    
        {% for product in cart_products %}

            {{ product }}
            {{ product.price }}

            <select class="form-select" id="select{{product.id}}">
                {% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}
                        <option selected>{{ value }}</option>
                    {% endif %}
                {% endfor %}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>

            <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">
                Upravit množství
            </button>
            <button type="button" data-index="{{product.id}}" class="btn btn-secondary delete-product">
                Vymazat
            </button>

<br>
            
        {% endfor %}

        Celková cena: {{ totals }}
        
    {% else %}

        V košíku nic není!

    {% endif %}
    
</div>

<script>

$(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    var productid = $(this).data('index');
    $.ajax({
        type: 'POST',
        url: '{% url "cart_update" %}',
        data: {
            product_id: $(this).data('index'),
            product_qty: $('#select' + productid + ' option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function(json){
            location.reload();
        },

        error: function(xhr, errmsg, err){

        }
    });
})

$(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url "cart_delete" %}',
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function(json){
            location.reload();
        },

        error: function(xhr, errmsg, err){

        }
    });
})

</script>

{% endblock %} 