{% extends 'base.html' %}
{% block content %}

<div class="container">
    {% if cart_products %}
    {% for product in cart_products %}
  
    <div class="card mb-1 p-2 mx-auto kosikKontejner">
      <div class="row g-0">
  
        <div class="col-12 col-md-2 col-lg-3 col-xl-4 text-center align-self-center">
          <img src="{{ product.image.url }}" class="img-fluid" alt="...">
        </div>
  
        <div class="col-12 col-md-10 col-lg-9 col-xl-8">
  
          <div class="row g-0 text-center">
            <div class="col-12 ">
              <h6 class="fw-bolder">{{ product.name }}</h6>
            </div>
          </div>
  
          <div class="row g-0 text-center">
            <div class="col-12">
              <p class="cenaNapisKosik">{{ product.price }} Kč</p>
            </div>
          </div>
  
          <div class="row g-0 text-center">
            <div class="col-12">
              <p class="autorNapisKosik">{{ product.author }}</p>
            </div>
          </div>
  
          <div class="row g-0">
            <div class="col-12 col-md-2 offset-md-2 align-self-center">
              <select class="form-select form-select-sm" id="select{{product.id}}">
                {% for key, value in quantities.items %}
                  {% if key == product.id|slugify %}
                    <option selected>{{ value }}</option>
                  {% endif %}
                {% endfor %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
              </select>
            </div>
            <div class="col-12 col-md-8 d-flex justify-content-center">
              <button type="button" data-index="{{product.id}}" class="btn btn-secondary btn-sm mx-2 my-2 update-cart">
                  Upravit
              </button>
              <button type="button" data-index="{{product.id}}" class="btn btn-secondary btn-sm mx-2 my-2 delete-product">
                  Smazat
              </button>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  
    {% endfor %}
  
    <div class="container my-3 py-5 text-center hlavniKontejner">
        Celková cena: {{ totals }}
        <br>
        <a class="btn btn-secondary" href="{% url 'checkout' %}">
          K pokladně
        </a>
    </div>
  
    
  {% else %}
  
    <div class="container my-3 py-5 text-center hlavniKontejner">
      V košíku nic není..
    </div>
  
  {% endif %}
  
  
    
</div>

<script>

$(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    var productid = $(this).data('index');
    $.ajax({
        type: 'POST',
        url: '{% url "cart_update" %}',
        data: {
            product_id: $(this).data('index'),
            product_qty: $('#select' + productid + ' option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function(json){
            location.reload();
        },

        error: function(xhr, errmsg, err){

        }
    });
})

$(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url "cart_delete" %}',
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function(json){
            location.reload();
        },

        error: function(xhr, errmsg, err){

        }
    });
})

</script>

{% endblock %} 





