{% extends 'base.html' %}
{% block content %}

<div class="container">

	<div class="row justify-content-center">
		<div class="col-12 col-md-6 col-lg-5 text-center hlavniKontejner p-3">
			<h5>Platební údaje:</h5>
				<form id="platba" method="POST" action="{% url 'process_order' %}">
					{% csrf_token %}
					{{ billing_form.as_p }}
				</form>
			<button form="platba" class="btn btn-success" type="submit">
				Zaplatit
			</button>
		</div>
		<div class="col-12 col-md-4 offset-md-1 col-lg-3 offset-lg-1 text-center hlavniKontejner p-4 mt-5 mt-md-0" style="height: 200px;">
			<h5>Celkem k zaplacení: {{ totals }}</h5>

			<a class="btn btn-secondary mt-0 mt-md-3" href="{% url 'cart_summary' %}">
				Zpět do košíku
			</a>

			<a class="btn btn-secondary mt-0 mt-md-2" href="{% url 'checkout' %}">
				Zpět k pokladně
			</a>
		</div>
	</div>
</div>

{% endblock %}