{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-7">
            {% for product in cart_products %}
  
            <div class="card mb-1 p-2 mx-auto kosikKontejner">
              <div class="row g-0">
          
                <div class="col-12 col-md-2 col-lg-3 col-xl-4 text-center align-self-center">
                  <img src="{{ product.image.url }}" class="img-fluid" alt="...">
                </div>
          
                <div class="col-12 col-md-10 col-lg-9 col-xl-8">
          
                  <div class="row g-0 text-center">
                    <div class="col-12 ">
                      <h6 class="fw-bolder">{{ product.name }}</h6>
                    </div>
                  </div>
          
                  <div class="row g-0 text-center">
                    <div class="col-12">
                      <p class="cenaNapisKosik">{{ product.price }} Kč</p>
                    </div>
                  </div>
          
                  <div class="row g-0 text-center">
                    <div class="col-12">
                      <p class="autorNapisKosik">{{ product.author }}</p>
                    </div>
                  </div>
          
                  <div class="row g-0 text-center">
                    <div class="col-12 col-md-12">

                        {% for key, value in quantities.items %}
                          {% if key == product.id|slugify %}
                            <p class="badge text-bg-success" selected>Množství: {{ value }}</p>
                          {% endif %}
                        {% endfor %}

                    </div>
                  </div>
          
                </div>
          
              </div>
            </div>
          
            {% endfor %}

            <div class="container card mb-1 mt-5 p-3 kosikKontejner">
                <div class="row">
                  <div class="col-3 mt-2">
                    <h5>
                      Celkem: {{ totals }}
                    </h5>
                  </div>

                  <div class="col-3 offset-6">
                    <a class="btn btn-secondary" href="{% url 'cart_summary' %}">
                        Upravit položky
                    </a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-5 hlavniKontejner p-3">
                    <h5>Doručovací informace:</h5>
                    <!-- Formulář pro zobtazování dat -->
                    <form method="POST" action="{% url 'billing_info' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label class="form-label">Celé jméno</label>
                          <input type="text" class="form-control" value="{{ shipping_form.shipping_full_name.value }}" disabled readonly>
                        </div>
                      
                        <div class="mb-3">
                          <label class="form-label">Email</label>
                          <input type="text" class="form-control" value="{{ shipping_form.shipping_email.value }}" disabled readonly>
                        </div>
                      
                        <div class="mb-3">
                          <label class="form-label">Adresa 1</label>
                          <input type="text" class="form-control" value="{{ shipping_form.shipping_address1.value }}" disabled readonly>
                        </div>
                      
                        <div class="mb-3">
                          <label class="form-label">Adresa 2</label>
                          <input type="text" class="form-control" value="{{ shipping_form.shipping_address2.value }}" disabled readonly>
                        </div>
                      
                        <div class="mb-3">
                          <label class="form-label">Město</label>
                          <input type="text" class="form-control" value="{{ shipping_form.shipping_city.value }}" disabled readonly>
                        </div>
                      
                        <div class="mb-3">
                          <label class="form-label">Stát</label>
                          <input type="text" class="form-control" value="{{ shipping_form.shipping_state.value }}" disabled readonly>
                        </div>
                      
                        <div class="mb-3">
                          <label class="form-label">PSČ</label>
                          <input type="text" class="form-control" value="{{ shipping_form.shipping_zipcode.value }}" disabled readonly>
                        </div>
                      
                        <div class="mb-3">
                          <label class="form-label">Země</label>
                          <input type="text" class="form-control" value="{{ shipping_form.shipping_country.value }}" disabled readonly>
                        </div>

                      </form>
                      <div class="row text-center">
                        <div class="col-6">
                            <a href="{% url 'update_info' %}" class="btn btn-secondary">
                              Změnit údaje
                            </a>
                        </div>
                        <div class="col-6">
                            <button form="dorucovaciInfo" class="btn btn-success" type="submit">
                              Pokračovat k platbě
                            </button>
                        </div>
                      </div>

                      <!-- Skrytý formulář pro odesílání dat -->
                      <form id="dorucovaciInfo" method="POST" action="{% url 'billing_info' %}">
                        {% csrf_token %}
                        
                        <input type="hidden" name="shipping_full_name" value="{{ shipping_form.shipping_full_name.value }}">
                        <input type="hidden" name="shipping_email" value="{{ shipping_form.shipping_email.value }}">
                        <input type="hidden" name="shipping_address1" value="{{ shipping_form.shipping_address1.value }}">
                        <input type="hidden" name="shipping_address2" value="{{ shipping_form.shipping_address2.value }}">
                        <input type="hidden" name="shipping_city" value="{{ shipping_form.shipping_city.value }}">
                        <input type="hidden" name="shipping_state" value="{{ shipping_form.shipping_state.value }}">
                        <input type="hidden" name="shipping_zipcode" value="{{ shipping_form.shipping_zipcode.value }}">
                        <input type="hidden" name="shipping_country" value="{{ shipping_form.shipping_country.value }}">

                      </form>         
        </div>
    </div>
</div>
{% endblock %}